@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Red Hat Display', sans-serif;
    color: rgb(194, 194, 194);
    background-color: rgb(26,29,39);
} 


/*- header -*/
.logo{
    box-shadow: 0 0 20px 3px rgb(66, 66, 66);
    height: 125px;
    width: auto;
}




/*- main -*/
main{
    background-image: linear-gradient(to bottom, #000000, #0b0708, #120d11, #161218, #19171e, #19171e, #19171e, #19171e, #161218, #120d11, #0b0708, #000000);
}

.tarjeta{
    background-color: rgb(54, 54, 54);
    border: 4px solid rgb(94, 94, 94);
    border-radius: 5px;
    box-shadow: 0 0 20px rgb(66, 66, 66);
}

.card-img-top{
    height: 50%
}
.card-body{
    height: 50%;
}
.bgNegro{
    background-color: black;
 }

.fotoBanner{
    object-fit: cover;
    width: 100%;
}

.fila {
    height: 90vh; 
}



/*- footer -*/
footer{
    display: flex;    
}

.icon{
    font-size: 3rem;   
    color: #f7f7f7;
    margin: 5px;
    filter: drop-shadow(0 0 20px rgb(66, 66, 66));
    
    
}


/*-hovers-*/
.whatsapp:hover{
    color: rgb(47, 186, 67);
    transition: color 0.5s, transform 1s;
    transform: scale(1.2);
    

}
.facebook:hover{
    color: rgb(24, 115, 235);
    transition: color 0.5s, transform 1s;
    transform: scale(1.2);
}

.instagram:hover{
    background: -webkit-linear-gradient(#fdf497, #fd5949, #d6249f, #285AEB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: color 0.5s, transform 1s;
    transform: scale(1.2);
}

/*- media querys -*/


@media screen and (max-width: 600px){
    .icon{
        font-size: 2rem;
    }
    .mainDisplay{
        display: flex;
        flex-direction: column;
    
        .formAncho{
        width: 100%;
        }
    }

    section .fila{
        height: fit-content;
    }
    footer{
        flex-direction: column;
    }
    .parrafoFooter{
        text-align: center;
    }
    .filaFooter{
        display: flex;
        flex-direction: column;        
        align-items: center;
    }
    .redes{
        display: flex;
        justify-content: center;
        margin: auto;
        padding: 0;
    }
    .fotoBanner{
        object-fit: scale-down;
    }
}
@media screen and (max-width: 1200px){
    .redes{
        display: flex;
        justify-content: center;
        margin: auto;
        padding: 0;
    }
    .parrafoFooter{
        text-align: center;
    }
    .boton{
        margin-bottom: 10px;
        
    }
    

}

/*- páginas -*/
.fotoGal{
    width: 100%;
    height: 450px;
    padding: 25px;
    object-fit: cover;
}

.btnColor{
    color: white;
}


 











