@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Manrope', sans-serif;
    color: rgb(194, 194, 194);
    background-color: rgb(26,29,39);
} 

footer{
    display: flex;
    
}
.anclaFooter{
    
}
.icon{
    font-size: 3rem;   
    
}
.logo{
    width: 80px;
}

.bgNegro{
    background-color: black;
 }

.bgCard{
    background-color: rgb(59, 59, 59);
    
}
.btnColor{
    background-color: rgb(173, 172, 172);
    border-color: rgb(81, 81, 82);
}

.imgGal{
    width: 50%;
}
.iconoRs{
    width: 80px;
    color: aliceblue;
}

@media screen and (max-width: 600px){
    .icon{
        font-size: 2rem;
    }
    .mainDisplay{
        display: flex;
        flex-direction: column;
    .formAncho{
        width: 100%;
    }
    }
}