.fotoGal{
    width: $cienporciento;
    height: 450px;
    padding: 25px;
    object-fit: $cover;
    border-radius: 50px;
    transition: transform 1s ease-in-out;
    &:hover{
      transform: scale(1.1);
    }
}

.galeria{
  box-sizing: border-box;
  padding: 40px;
}

.contenedorGal{
  box-sizing: border-box;
  border:solid;
  border-color: map-get($colores , color-gris-claro);
  border-radius: 20px;
  text-align: center;
  
  
  align-items: center;
  justify-content: center;
  
}

.botonGaleria{
  color: white;
  background-color: map-get($colores, color-gris-oscuro );
}

.botonGaleria:hover{
  color: map-get($colores , color-gris-muy-claro );
}

.divBotones{
  display: flex;
  justify-content: space-evenly;
}
