$dflex: flex;
$flex-column: column;
$center: center;
 
$veinte-px: 20px;
$diez-px: 10px;
$cinco-px: 5px;
$auto: auto;
$cero: 0;
$cover: cover;
$cienporciento: 100%;
$colores: (
    blanco: white,
    negro: black,
    gris-body:rgb(26,29,39),
    color-gris-oscuro: rgb(54, 54, 54),
    color-gris-medio: rgb(66, 66, 66),
    color-gris-claro: rgb(94, 94, 94),
    color-gris-muy-claro: rgb(194, 194, 194),
)