@charset "UTF-8";
@import "variables.scss";
@import "reset.scss";
@import "mainindex.scss";
@import "maingaleria.scss";
@import "maincontacto.scss";
@import "header.scss";
@import "footer.scss";
@import "fuentes.scss";
@import "utilitarias.scss";






